%roboto{
	font-family: "Roboto Regular", sans-serif;
	font-weight: 400;
}

%sitka{
	font-family: "Sitka Banner", sans-serif;
	font-weight: 400;
}

%snellBT{
	font-family: "SnellBT Regular", sans-serif;
	font-weight: 400;
}

$rose: #ff467f;