@import "libs";

@import "fonts";
@import "vars";
@import "mixins";

@import "global";

html{
	height: 100%;
}

body{
	@extend %sitka;
	@include font;
	height: 100%;
}

/* ====== SLIDER COMMON STYLES ====== */

.slick-list{
	overflow: hidden;
}

.slick-track{
	display: flex;
}

/* ====== HEADER ====== */

.header{
	position: relative;

	height: 100vh;
	width: 100%;

	padding-bottom: 20px;
}

.header__container{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;

	background-color: #0a1720;

	z-index: 2;
}

.header__inner{
	margin: 0 auto;
	width: 68.4%;

	padding: 10px 0;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{

}

.navigation{
	width: 435px;
}

.navigation__list{
	display: flex;
	justify-content: space-between;
}

.navigation__item{
	@include font(16px, 12px, #a5a6a6, uppercase);

	padding: 5px 0px;

	border-right: 1px solid #a5a6a6;

	&:last-child{
		border: none;
	}
}

.navigation__link{
	padding: 10px 20px;
	transition: .3s;

	&:hover{
		color: $rose;
	}
}

.navigation__current{
	border-color: transparent;

	.navigation__link{
		border-radius: 4px;

		background-color: $rose;

		color: #fff;

		pointer-events: none;
	}
}

/* slider main */

.header__wrapper{
	position: relative;
	height:100%;
}

.slider{
	position: relative;
	z-index: 0;
}

.header__slider{
	height: 100%;
}

.slider__item{
	height: 100vh;

	background-repeat: no-repeat;
	background-position: 0 50px;
	background-size: cover;
}

.slider__item--1{
	background-image: url("../img/slide1.jpg");	
}

.slider__item--2{
	background-image: url("../img/slide2.jpg");
}

/* slider nav */

.slider-nav{
	background-color: rgba(#0a1720, .5);
}

.header__slider-nav{
	position: absolute;
	bottom: 30px;
	right: 220px;
}

.slider-nav__button{	
	padding: 15px;
	font-size: 0;
}

/* header middle block */

.header__info{
	position: absolute;
	top: 40%;
	right: 0;

	background-color: rgba(#0a1720, .5);

	padding: 60px 40px 60px 60px;

	width: 570px;
}

.header__info-heading{
	@include font(40px, 35px, #fff);

	margin-bottom: 12px;
}

.heading__info-text{
	@include font(24px, 30px, #fff);
}


/* bottom button */

.header__button{
	position: absolute;
	bottom: 0;
	left: 50%;

	transform: translateX(-50%);

	width: 83px;
	height: 83px;

	background-color: $rose;
	border-radius: 50%;

	line-height: 0;

	&:hover{
		background-color: rgba($rose, .5);
	}
}


/* ====== WEDDING ====== */

.wedding{
	padding-top: 90px;
}

.wedding__suptitle{
	margin-bottom: 22px;

	@extend %roboto;
	@include font(24px, 28px, $rose, uppercase);

	text-align: center;
}

.wedding__heading{
	margin-bottom: 35px;

	@include font(48px, 48px, null, uppercase);

	text-align: center;
}

.hearts{
	display: block;
	margin: 0 auto;

	margin-bottom: 35px;
}

.wedding__info{
	margin: 0 auto;
	width: 68.4%;

	display: flex;
	justify-content: space-between;
}

/* wedding image */

.wedding__person{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wedding__person-image{
	position: relative;

	&::before{
		content: "";
		position: absolute;
		top: -23px;

		width: 302px;
		height: 164px;

		background-image: url("../img/person-border-top.png");
		background-repeat: no-repeat;
		background-size: cover;
	}

	&::after{
		content: "";
		position: absolute;
		bottom: -4px;
		left: -6px;

		width: 276px;
		height: 159px;

		background-image: url("../img/person-border-bottom.png");
		background-repeat: no-repeat;
		background-size: cover;

	}
}

.wedding__name{
	@extend %snellBT;
	@include font(69px, 78px, null, null);

	text-align: center;
}

.wedding__invite{
	width: 200px;

	text-align: center;
}

/* wedding middle block invitation */

.wedding__invitation{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wedding__invitation-heading{
	position: relative;
	margin-bottom: 70px;
	padding-left: 30px;	

	@extend %snellBT;
	@include font(69px, 75px, null, null);

	text-align: center;

	&::after{
		content: "";
		position: absolute;
		bottom: -20px;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;

		height: 1px;
		width: 238px;

		background-color: $rose;
	}
}

.wedding_day{
	margin-top: 25px;
	margin-bottom: 30px;

	@include font(38px, 28px, $rose, uppercase);
}

.wedding__date{
	margin-bottom: 20px;

	@include font(48px, 28px, null, uppercase);
}

.wedding__place{
	margin-bottom: 55px;

	text-align: center;
}

.button{
	padding: 15px 30px;

	background-color: $rose;

	color: #fff;

	box-shadow: 4.092px 4.388px 14px 0px rgba(88, 88, 88, 0.73);

	&:hover{
		background-color: rgba($rose, .5);
	}
}

.wedding__button{
	margin-bottom: 110px;
	padding: 20px 65px 15px 65px;

	@include font(40px, 28px, null, uppercase);
}

/* ====== PHOTO GALLERY ====== */

.gallery{
	padding-top: 50px;
	padding-bottom: 60px;

	background-color: #252527;
}

.gallery__heading{
	margin-bottom: 10px;

	@include font(45px, 47px, #fff, null);
	text-align: center;
}

.gallery__hearts{
	margin-bottom: 60px;
}

.galler__wrapper{
	text-align: center;
}

.gallery__slider{
	margin-bottom: 75px;
}

.gallery__slider-nav{
	display: inline-block;
	font-size: 0;
}

.slider-nav__button--rose{
	background-color: rgba($rose, .5);

	&:hover{
		background-color: $rose;
	}
}

/* ====== NEWS & EVENTS ====== */

.news{
	padding-top: 60px;	
}

.news__heading{
	@include font(56px, 68px, null, uppercase);
	text-align: center;
}

.news__text{
	margin: 0 auto;
	margin-bottom: 60px;
	width: 700px;

	text-align: center;
}

.news__wrapper{
	background-image: url("../img/news-bg.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;

	padding-top: 328px;
	padding-bottom: 128px;
}

.news__block{
	margin-left: auto;
	padding: 60px 50px;

	background-color: #fff;
	background-image: url("../img/flowers.jpg");
	background-repeat: no-repeat;
	background-position: right center;
	background-size: contain;

	width: 59.7%;
}

.news__item{

}

.news__date{
	margin-bottom: 40px;

	@extend %roboto;
	@include font(54px, 63px, null, uppercase);
}

.news__text-main{
	margin-bottom: 15px;
	width: 39.4%;

	color: $rose;
}

.news__text-common{
	margin-bottom: 90px;

	width: 39.4%;
}

.news__button{
	
}

.button{
	//padding: 15px 30px;
}

